---
Checks: '*,-llvmlibc-*,-fuchsia-*,-altera-*,-bugprone-easily-swappable-parameters,-cert-err58-cpp,-cppcoreguidelines-pro-bounds-constant-array-index,-google-readability-todo,-google-runtime-references,-llvm-else-after-return,-readability-else-after-return,-readability-identifier-length,-readability-redundant-member-init'
...
